<aside id="sidebar" class="bg-black" style="height: 100vh;">
        <a class="text-center d-none d-md-block d-lg-block d-xl-block" href="">
            
        </a>
        <p class="text-center text-white d-none d-md-block d-lg-block d-xl-block my-5">
            PONER ALGO PARA ESTE TEXTO
        </p>
        <nav class="navbar navbar-expand-lg navbar-dark">
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav flex-column">
                    <li class="nav-item active">
                        <a class="nav-link text-white mb-4" href="" >
                            <button type="button" class="btn btn btn-info">Cerrar Sesión</button>
                        </a>
                    </li>
    
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="" ui-sref="main.verPerfil" ui-sref-active="active">Ver Perfil</a>
                    </li>
 <!--
                    <li class="nav-item">
                        <a class="nav-link text-white" href="">Calificar Hoteles</a>
                    </li>
  --> 
                  
            <!-- REGISTRAR TAREA -->
                    <li class="nav-item">
                        <a class="nav-link text-white" href="" ui-sref="main.registrarTarea" ui-sref-active="active" ng-hide="vm.user.getRol() == 2">Registrar Tarea</a>
                    </li>
    
            <!-- LISTAR TAREA -->        
                    <li class="nav-item">
                        <a class="nav-link text-white" href="" ui-sref="main.listarTarea" ui-sref-active="active">Lista de tareas</a>
                    </li>
    
                    <li class="nav-item">
                        <a class="nav-link text-white" href="" ui-sref="main.listarUsuarios" ui-sref-active="active" ng-hide="vm.user.getRol() == 2">Lista de usuarios</a>
                    </li>
                </ul>
    
            </div>
        </nav>
    </aside>