<navegacion-Principal></navegacion-Principal>
<main id="landingPageComponent">
    <a class="top-fixed LiveHelpButton" href="" ng-click="vm.toTheTop()">
        <div class="tipotop">
            <i class="fas fa-arrow-up"></i>
        </div>
    </a>
    <section class="container-fluid">
        <div class="row" id="banner">
            <div class="col-md-7 mx-auto mt-6 mb-5 text-center">



                <div>
                    <a href="" ui-sref="registroUsuarios" class="btn btn-outline-light btn-lg mt-5">Registrarse</a>
                </div>
            </div>
        </div>
    </section>




</main>