@import '../setings';
#registroClientes{
    max-width: 100% !important;
    .imageSection{
        padding-left: 0 !important;
        padding-right: 0 !important;
        .link{
            font-size: 1.2rem;
        }
        #imagen{
            background-image: url(./imgs/registrarUsuario.pNg), $overlay-gradient;
            background-blend-mode: overlay;
            background-repeat: no-repeat;
            background-size: cover;
            .my-8{
                margin: 17.5rem 0;
            }
        }
    } 
}