<section>
        <div class="mt-5 mb-0">
            <div class="col-md-12 mb-5">
                <h1 id="tituloPrincipal" class="mt-1">¡Bienvenido {{vm.userName}}!</h1>
                <p class="texto-descripcion">Aquì puedes ver tus tareas asignadas</p>
            </div>
        </div>
        <h2></h2>
    
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <a href="" ui-sref="main.listarUsuarios">
                        <img src="../../../sources/imgs/principal/1.png" alt="" width="100%">
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="" ui-sref="main.listarHotel">
                        <img src="../../../sources/imgs/principal/2.png" alt="" width="100%">
                    </a>
                </div>
            </div>
    

        </div>
    </section>